# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment files
# =========================
.env
.env.*
*.local

# =========================
# Build output
# =========================
dist/
dist-ssr/
build/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Editor / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
rough.dxt

# =========================
# uploads
# =========================
backend/uploads/